otros codigos/flowsnode-red.json
[{"id":"ff7108a2.732188","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"960fd8.7bd4b028","type":"serial in","z":"ff7108a2.732188","name":"","serial":"a6fb9d44.5df29","x":100,"y":180,"wires":[["b6470ea4.a767c","13731763.8d23f9","b3a68c3d.ae8ba"]]},{"id":"b6470ea4.a767c","type":"function","z":"ff7108a2.732188","name":"","func":"var temperatura=msg.payload.split(',')[0];\nmsg.payload=temperatura;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":270,"y":180,"wires":[["d0c455b7.9aad88"]]},{"id":"6b23fe92.5e8c6","type":"addFirebase","z":"ff7108a2.732188","firebaseCertificate":"d3a0289f.0368c8","client_email":"","private_key":"","data":"","childpath":"Control/Humedad","propertyType":"str","method":"set","newchildpath":"","x":490,"y":240,"wires":[[]]},{"id":"13731763.8d23f9","type":"function","z":"ff7108a2.732188","name":"","func":"var temperatura=msg.payload.split(',')[1];\nmsg.payload=temperatura;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":270,"y":260,"wires":[["6b23fe92.5e8c6"]]},{"id":"b15996d6.a2e608","type":"addFirebase","z":"ff7108a2.732188","firebaseCertificate":"d3a0289f.0368c8","client_email":"","private_key":"","data":"\"30\"","childpath":"Control/Sistema Solar/Bateria","propertyType":"str","method":"set","newchildpath":"","x":490,"y":340,"wires":[[]]},{"id":"b3a68c3d.ae8ba","type":"function","z":"ff7108a2.732188","name":"","func":"var temperatura=msg.payload.split(',')[2];\nmsg.payload=temperatura;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":270,"y":340,"wires":[["b15996d6.a2e608"]]},{"id":"d0c455b7.9aad88","type":"addFirebase","z":"ff7108a2.732188","firebaseCertificate":"d3a0289f.0368c8","client_email":"","private_key":"","data":"","childpath":"Control/Temperatura","propertyType":"str","method":"set","newchildpath":"","x":490,"y":140,"wires":[[]]},{"id":"a6fb9d44.5df29","type":"serial-port","serialport":"/dev/ttyS1","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"d3a0289f.0368c8","type":"firebaseCertificate","firebaseurl":"comunitaraias-default-rtdb","loginType":"none"}]